body{
font-family:Times New Roman;
}
.pannel-questions{
position:relative;
top:150px;
left:250px;
margin-right:50px;
margin-left:50px;
width:60%;
text-align:center;
}

.questions{
position:relative;
background-color:MidnightBlue;
width:62%;
border:2px dashed white;
color:white;
padding:6px;
left:150px;
text-align:left;
}
.option-a{

position:relative;
background-color:MidnightBlue;
width:30%;
top:15px;
border:2px dashed white;
color:white;
padding:6px;
left:150px;
text-align:left;
}

.option-b{

position:relative;
background-color:MidnightBlue;
width:30%;
border:2px dashed white;
color:white;
padding:6px;
left:390px;
bottom:20px;
text-align:left;
}
.panel > .panel-heading {
background-image: none;
background-color: #1C2331;
color: white;

}


.option-c{

position:relative;
background-color:MidnightBlue;
width:30%;
top:5px;
border:2px dashed white;
color:white;
padding:6px;
left:150px;
text-align:left;
}

.option-d{

position:relative;
background-color:MidnightBlue;
width:30%;
bottom:30px;
border:2px dashed white;
color:white;
padding:6px;
left:390px;
text-align:left;
}

.pannel-functions{
position:relative;
top:150px;
left:150px;
margin-right:50px;
margin-left:50px;
width:80%;
text-align:center;

}
.quit-button{

position:relative;
background-color:MidnightBlue;
width:10%;
height:10%;
top:5px;
border:2px dashed white;
color:black;
padding-top:17px;
left:50px;
text-align:center;
}


.quit{
width:60%;
height:55%;

text-align:center;
}
.next-button{

position:relative;
background-color:MidnightBlue;
width:10%;
height:10%;
bottom:58px;
border:2px dashed white;
color:black;
padding-top:17px;
left:250px;
text-align:center;
}


.next{
width:60%;
height:55%;

text-align:center;
}

.submit-button{

position:relative;
background-color:MidnightBlue;
width:12%;
height:10%;
bottom:119px;
border:2px dashed white;
color:black;
padding-top:17px;
left:450px;
text-align:center;
}


.submit{
width:60%;
height:55%;

text-align:center;
}


.timer-box{

position:relative;
background-color:MidnightBlue;
width:20%;
height:15%;
bottom:179px;
border:2px dashed white;
color:white;
padding-top:17px;
left:700px;
text-align:center;
}

