.new{
	height:200px;
	border-top:1px dotted;

}
.logo{
	float:right;
}
.responsive
{
	height:auto;
 	width:100%;
}
.foont
{
 	float:left;
 	width:31.5%;
}
.line{
	<hr style="border: 1px dashed lightgray"/>
}
.first:hover
{
    
	border:7px solid #99994d;
	background-color:#e5e5cc;
}
a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}
a:hover
{
	color: green;
	background-color: transparent;
	text-decoration: none;
}

